{#
/**
 * @file
 * Default theme implementation for the user password reset form.
 *
 * Available variables:
 * - any form element available on the register form
 * - actions : the submit buttons
 * - login_link: the login link.
 *
 * @ingroup themeable
 */
#}
{{ form|without('actions', 'login_link') }}
<div class="nice-login__register__actions">
  {{ form.actions }}
  {{ form.login_link }}
</div>
